@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: Andika, sans-serif;
}

.nav-bg {
  /* background-color: #cad5ca; */
  background-color: #dcdcf9;
}

.logo-text {
  font-family: 'Potta One', sans-serif;
  font-size: 3.5rem;
  line-height: 5rem;
}

.nav-links {
  cursor: pointer;
  font-family: Andika, sans-serif;
  font-size: 1.3rem;
}

.mg-left {
  margin-left: 70%;
}

.hidden {
  display: hidden;
}

.login-bg {
  height: 75vh;
  margin-top: 0.8rem;
  padding-bottom: 5%;
  background-color: rgba(176, 175, 175, 0.601);
  background-image: url('/log-in.jpg');
  background-repeat: no-repeat;
  background-size: 150rem 100rem;
  background-blend-mode: hard-light;
}

.parent {
  overflow: hidden;
  display: flex;
  border-radius: 0;
}

.img-shop {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.item-bubble {
  border-radius: 50%;
  height: 1.35rem;
  width: 1.35rem;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #ff999c;
  bottom: 1.38rem;
  right: 1.5rem;
  font-size: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

@media screen and (width <=1086px) {
  .mobile {
    display: none;
    font-size: 0.6rem;
    flex-direction: column;
  }

  .mobile-logo {
    display: none;
  }

  .mobile-name {
    justify-content: left;
    left: 3rem;
  }

  .mobile-font-size {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .mobile-home {
    height: 35rem;
  }

  .mobile-icons {
    font-size: 1.3rem;
    padding: 0;
    position: absolute;
    top: 2rem;
    right: 0.5rem;
  }

  .menu-btn {
    display: flex;
    align-self: flex-end;
    font-size: 1.8rem;
  }

  .mobile-nav {
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-friendly {
    padding-top: 2rem;
  }

  .mobile-form {
    padding-top: 0;
    font-size: 0.8rem;
  }

  .mobile-create {
    font-size: 1.65rem;
  }

  .mobile-create-listing-bg {
    height: auto;
    padding-bottom: 10%;
  }

  .mobile-sign-out {
    font-size: 1rem;
  }

  .mobile-listing {
    margin-top: 22rem;
  }

  .mobile-back {
    font-size: 1rem;
    text-decoration: underline;
  }

  .mobile-category {
    text-align: center;
    margin-left: 0;
  }

  .mobile-home-page {
    font-size: 0.8rem;
    height: 1.7rem;
  }

  .mobile-continue {
    align-self: center;
    font-size: 0.9rem;
    text-decoration: underline;
  }

  .mobile-cart,
  .mobile-empty-cart {
    font-size: 2rem;
  }

  .mobile-checkout-button {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0.1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .mobile-start-button {
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .item-bubble {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #ff999c;
    bottom: 1rem;
    right: -0.4rem;
    font-size: 0.65rem;
  }

  .mobile-seller-signout {
    font-size: 1.3rem;
    padding: 0;
    position: absolute;
    bottom: 1.2rem;
    right: 0.5rem;
  }

  .seller-logo {
    width: 80vw;
    display: flex;
    position: relative;
    left: 8rem;
  }

  .dashboard-menu {
    position: absolute;
    top: 5rem;
  }
}
