@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg {
  background-color: #cad5ca;
}

.monoton {
  font-family: Monoton, sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.nav-links {
  cursor: pointer;
  font-family: Andika, sans-serif;
  font-size: 1.3rem;
}

.mg-left {
  margin-left: 70%;
}

.hidden {
  display: hidden;
}

@media screen and (width <=768px) {
  .mobile {
    display: none;
    font-size: 0.6rem;
    flex-direction: column;
  }

  .mobile-logo {
    width: 5rem;
  }

  .mobile-home {
    height: 35rem;
  }

  .mobile-icons {
    font-size: 1.3rem;
  }

  .menu-btn {
    display: flex;
    font-size: 1.8rem;
  }
}
