@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: Andika, sans-serif;
}

.nav-bg {
  /* background-color: #cad5ca; */
  background-color: #dcdcf9;
}

.logo-text {
  font-family: 'Potta One', sans-serif;
  font-size: 3.5rem;
  line-height: 5rem;
}

.nav-links {
  cursor: pointer;
  font-family: Andika, sans-serif;
  font-size: 1.3rem;
}

.mg-left {
  margin-left: 70%;
}

.hidden {
  display: hidden;
}

.login-bg {
  height: 75vh;
  margin-top: 0.8rem;
  padding-bottom: 5%;
  background-color: rgba(176, 175, 175, 0.601);
  background-image: url('/log-in.jpg');
  background-repeat: no-repeat;
  background-size: 150rem 100rem;
  background-blend-mode: hard-light;
}

.create-listing-bg {
  height: 75vh;
  padding-bottom: 5%;
  background-color: rgba(84, 82, 82, 0.601);
  background-image: url('/createListing.jpg');
  background-repeat: no-repeat;
  background-size: 150rem 58rem;
  background-blend-mode: hard-light;
}

.parent {
  overflow: hidden;
  display: flex;
  border-radius: 0;
}

.img-shop {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

@media screen and (width <=1086px) {
  .mobile {
    display: none;
    font-size: 0.6rem;
    flex-direction: column;
  }

  .mobile-logo {
    display: none;
  }

  .mobile-name {
    justify-content: left;
    left: 3rem;
  }

  .mobile-font-size {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .mobile-home {
    height: 35rem;
  }

  .mobile-icons {
    font-size: 1.3rem;
    padding: 0;
    position: absolute;
    top: 2rem;
    right: 0.5rem;
  }

  .menu-btn {
    display: flex;
    align-self: flex-end;
    font-size: 1.8rem;
  }

  .mobile-nav {
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-friendly {
    padding-top: 2rem;
  }

  .mobile-form {
    padding-top: 0;
    font-size: 0.8rem;
  }

  .mobile-create {
    font-size: 1.65rem;
  }

  .mobile-create-listing-bg {
    height: auto;
    padding-bottom: 10%;
  }

  .mobile-sign-out {
    font-size: 1rem;
  }

  .mobile-listing {
    margin-top: 22rem;
  }

  .mobile-back {
    font-size: 1rem;
    text-decoration: underline;
  }

  .mobile-category {
    text-align: center;
    margin-left: 0;
  }

  .mobile-home-page {
    font-size: 0.8rem;
    height: 1.7rem;
  }
}
