@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg {
  background-color: #cad5ca;
}

.monoton {
  font-family: Monoton, sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

a {
  cursor: pointer;
  font-family: Andika, sans-serif;
  font-size: 1.3rem;
}

.mg-left {
  margin-left: 70%;
}
